/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>


&mt {
    tapping-term-ms = <201>;
    flavor = "tap-preferred";
 };

&sk {
     release-after-ms = <2000>;
     quick-release;
 };


behaviors {
	td: tapdance {
		compatible = "zmk,behavior-hold-tap";
		label = "TAPDANCE";
		#binding-cells = <2>;
		tapping-term-ms = <190>;
		quick_tap_ms = <0>;
		flavor = "tap-preferred";
		bindings = <&kp>, <&kp>;
	};
};

keymap {
	compatible = "zmk,keymap";
				
	alpha1 {
		bindings = <
			&td TAB Q			&kp W 	   	&kp E 		&td T R			&td Y U 				&kp I    		&kp O				&kp P
			&td ESC A 		&kp S 			&kp D			&td G F  	 	&td H J    			&kp K    		&kp L 			&kp SEMI
			&mt Z LSHIFT	&kp X 			&kp C 		&td B V  		&td N M					&kp COMMA 	&kp DOT			&kp SLASH
																					&kp SYS	 		&kp SPC
		>;
	};
};