/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    tapping-term-ms = <201>;
    flavor = "tap-preferred";
 };
&sk {
     release-after-ms = <2000>;
     quick-release;
 };

#define default 	0
#define alpha2	1
#define ARROWS 	2
#define SYM_LAYER	3
#define SYM2_LAYER	4
#define NUM_LAYER	5
#define blank		6

/ {
	behaviors {
		hl: homerow_layers {
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_LAYERS";
			#binding-cells = <2>;
			tapping-term-ms = <220>;
			quick_tap_ms = <0>;
			flavor = "tap-preferred";
			bindings = <&mo>, <&kp>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		default {
		bindings = <
		&kp TAB 				&kp W 	   	&kp E 					&kp R							&kp U							&kp I    		&kp O				&kp BACKSPACE
		&lt ARROWS ESC 	&kp S 			&lt NUM_LAYER D	&lt SYM_LAYER F  	&kp J							&kp K    		&kp L 			&kp RET
		&mt LSHIFT A		&kp LCTRL		&trans 					&kp LEFT_ALT	  	&lt SYM2_LAYER M	&kp COMMA 	&kp DOT			&mt RSHIFT SEMI
																							&kp LGUI					&lt alpha2 SPACE
		>;
		};

		alpha2 {
		bindings = <
		&trans			&kp Q 	   	&kp T 		&kp G			&kp H		&kp Y    		&kp P				&trans
		&trans 			&kp X 			&kp C			&kp B  	 	&kp M		&kp COMMA    		&kp DOT 			&trans
		&mt LSHIFT Z 	&trans 			&trans 		&trans  		&trans		&trans 	&trans			&mt RSHIFT SLASH
																				&kp LGUI	&kp SPC
		>;
		};

		ARROWS {
		bindings = <
		&trans	&trans 	&trans	&trans	&trans					&kp UP_ARROW    &trans					&trans
		&trans 	&trans 	&trans	&trans  &kp LEFT_ARROW	&kp DOWN_ARROW  &kp RIGHT_ARROW	&trans
		&trans 	&trans 	&trans 	&trans	&trans 					&trans					&trans					&trans
														&trans	&trans
		>;
		};

		SYM_LAYER {
		bindings = <
		&trans			&trans 	&trans	&trans	&kp LEFT_PARENTHESIS	&kp RIGHT_PARENTHESIS	&kp BACKSLASH 		&trans
		&trans 			&trans 	&trans	&trans  &kp MINUS							&kp EQUAL	  					&kp GRAVE 				&kp SINGLE_QUOTE
		&kp LSHFT 	&trans 	&trans 	&trans	&kp LEFT_BRACKET			&kp RIGHT_BRACKET			&trans						&trans
																&trans	&trans
		>;
		};

		SYM2_LAYER {
		bindings = <
		&kp EXCLAMATION	&kp AT_SIGN 	&kp HASH	&kp DOLLAR	&kp PERCENT	&kp CARET	&kp AMPERSAND	&kp ASTERISK
		&trans 	&trans 	&trans	&trans  &bt BT_PRV	&bt BT_NXT  &bt BT_CLR	&trans
		&trans 	&trans 	&trans 	&trans	&trans 	&trans	&trans	&trans
														&trans	&trans
		>;
		};

		NUM_LAYER {
		bindings = <
		&trans	&trans 	&trans	&trans	&kp NUMBER_1	&kp NUMBER_2	&kp NUMBER_3	&trans
		&trans	&trans 	&trans	&trans	&kp NUMBER_4	&kp NUMBER_5	&kp NUMBER_6	&trans
		&trans	&trans 	&trans	&trans	&kp NUMBER_7	&kp NUMBER_8	&kp NUMBER_9	&trans
														&trans	&kp NUMBER_0
		>;
		};

		blank {
		bindings = <
		&trans	&trans 	&trans	&trans	&trans	&trans	&trans	&trans
		&trans 	&trans 	&trans	&trans  &trans	&trans  &trans	&trans
		&trans 	&trans 	&trans 	&trans	&trans 	&trans	&trans	&trans
														&trans	&trans
		>;
		};
	};
};