/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define alpha1 	0
#define alpha2	1
#define arrows 	2
#define blank		3
#define symbols	4
#define numbers	5

/ {
	behaviors {
		tdr: tapdance_R {
			compatible = "zmk,behavior-tap-dance";
			label = "TAPDANCE_R";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp R>, <&kp T>;
		};
		tdf: tapdance_F {
			compatible = "zmk,behavior-tap-dance";
			label = "TAPDANCE_F";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp F>, <&kp G>;
		};
		tdv: tapdance_V {
			compatible = "zmk,behavior-tap-dance";
			label = "TAPDANCE_V";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp V>, <&kp B>;
		};
		tdu: tapdance_U {
			compatible = "zmk,behavior-tap-dance";
			label = "TAPDANCE_U";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp U>, <&kp Y>;
		};
		tdj: tapdance_J {
			compatible = "zmk,behavior-tap-dance";
			label = "TAPDANCE_J";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp J>, <&kp H>;
		};
		tdm: tapdance_M {
			compatible = "zmk,behavior-tap-dance";
			label = "TAPDANCE_M";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp M>, <&kp N>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
					
		alpha1 {
			bindings = <
				&kp Q 				&kp W 	   	&kp E 					&kp R							&kp U		&kp I    		&kp O				&kp P
				&lt arrows A 	&kp X 			&lt numbers D		&lt symbols F  	 	&kp J		&kp K    		&kp L 			&kp SEMI
				&mt LSHIFT Z	&kp S 			&kp C 					&kp V  						&kp M		&kp COMMA 	&kp DOT			&mt RSHIFT SLASH
																									&kp LGUI					&lt alpha2 SPACE
			>;
		};

		alpha2 {
			bindings = <
				&kp TAB				&kp W 	   	&kp E 		&kp T			&kp Y		&kp I    		&kp O				&kp BACKSPACE
				&kp ESC 			&kp S 			&kp D			&kp G  	 	&kp H		&kp K    		&kp L 			&kp RET
				&mt LSHIFT Z 	&kp X 			&kp C 		&kp B  		&kp N		&kp COMMA 	&kp DOT			&mt RSHIFT SLASH
																						&kp LGUI	&kp SPC
			>;
		};

		arrows {
			bindings = <
				&trans	&trans 	&trans	&trans	&trans					&kp UP_ARROW    &trans					&trans
				&trans 	&trans 	&trans	&trans  &kp LEFT_ARROW	&kp DOWN_ARROW  &kp RIGHT_ARROW	&trans
				&trans 	&trans 	&trans 	&trans	&trans 					&trans					&trans					&trans
																&trans	&trans
			>;
		};

		symbols {
			bindings = <
				&trans			&trans 	&trans	&trans	&trans		&trans		&kp LEFT_PARENTHESIS	&kp RIGHT_PARENTHESIS	
				&trans 			&trans 	&trans	&trans  &kp MINUS	&kp PLUS	&kp LEFT_BRACE				&kp RIGHT_BRACE  			
				&kp LSHFT 	&trans 	&trans 	&trans	&trans		&trans		&kp COMMA 						&kp DOT								
																		&trans	&trans
			>;
		};

		numbers {
			bindings = <
				&trans	&trans 	&trans	&trans	&kp NUMBER_1	&kp NUMBER_2	&kp NUMBER_3	&trans
				&trans	&trans 	&trans	&trans	&kp NUMBER_4	&kp NUMBER_5	&kp NUMBER_6	&trans
				&trans	&trans 	&trans	&trans	&kp NUMBER_7	&kp NUMBER_8	&kp NUMBER_9	&trans
																&trans	&kp NUMBER_0
			>;
		};

		blank {
			bindings = <
				&trans	&trans 	&trans	&trans	&trans	&trans	&trans	&trans
				&trans 	&trans 	&trans	&trans  &trans	&trans  &trans	&trans
				&trans 	&trans 	&trans 	&trans	&trans 	&trans	&trans	&trans
																&trans	&trans
			>;
		};
	};
};